* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  display: block;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  padding-top: 36px;
}

.header_btn {
  padding-top: 36px;
}
.header_button {
  cursor: pointer;
  padding: 14px 36px;
  width: 167px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 28px;
  background: var(--666CA3, #666ca3);
  color: var(--FFFFFF, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
}
.header_button:hover{
    background: #13183f;
    cursor: pointer;
    transition: 3s ease;
}
.main {
  display: flex;
}
.main2 {
  padding-top: 236px;
}
.main-text {
  width: 457px;
  height: 143px;
  color: var(--13183F, #13183f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main-title {
  padding-top: 29px;
  width: 445px;
  color: var(--83869A, #83869a);
  font-feature-settings: "clig" off, "liga" off;
  
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}
.header_btn_2 {
  padding-top: 36px;
}
.header_button_2 {
  cursor: pointer;
  padding: 14px 36px;
  width: 167px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 31.5px;
  background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
  color: var(--FFFFFF, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
}
.header_button_2:hover{
    cursor: pointer;
    background: #f02aa6;
    transition: 3s ease;
}
.header_img{
    width: 13px;
height: 14px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: #000;
filter: drop-shadow(0px 1px 2px #000);
gap: 20px;
right: 10px;
display: flex;
}
.cards-asosiy {
  flex-wrap: wrap;
  padding-top: 101px;
  width: 1110px;
}
.cards {
  gap: 80px;
  flex-wrap: wrap;
  padding-bottom: 175px;
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  display: flex;
  gap: 30px;
}
.card-1 {
  width: 350px;
  height: 322px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}
.text-1 {
  padding: 64px 32px 138px;
  width: 286px;
  color: var(--FFFFFF, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; 
}
.card {
  width: 350px;
  height: 322px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}
.text-2 {
  padding-left: 36px;
  color: var(--13183F, #13183f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.card img {
  padding-left: 32px;
  transform: translateY(-27px);
}
.title-2 {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  width: 286px;
  color: var(--83869A, #83869a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /
}
.barcelona-1 {
  cursor: pointer;
  padding-left: 36px;
  padding-top: 2px;
  color: var(--F74780, #f74780);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  transition: .5s ease;
}
.barcelona-1:hover{
  color: rgb(255, 0, 0);
}
.cards_2 {
  padding-top: 80px;
  display: flex;
  gap: 30px;
}
.footer {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-big {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #13183f;
  padding-top: 27px;
  padding-bottom: 45px;
  padding-left: 31px;
  padding-right: 31px;
  gap: 770px;
}
.footer_btn {
  cursor: pointer;
  width: 167px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 28px;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
.header_button_2_2 {
  cursor: pointer;
  padding: 14px 36px;
  width: 167px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 28px;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  color: var(--FFFFFF, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
}
.header_button_2_2:hover{
    cursor: pointer;
    transition: 3s ease;
    background: #ff00a2;
}
.barcelona-2 {
  padding-top: 31px;
  cursor: pointer;
  padding-left: 36px;
  color: var(--F74780, #f74780);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  transition: 5s ease;
}
.barcelona-2 :hover{
  color: rgb(255, 0, 0);
}
.barcelona-3 {
  cursor: pointer;
  padding-top: 31px;
  padding-left: 30px;
  color: var(--F74780, #f74780);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  transition: 5s ease;
}
.barcelona-3:hover{
  color: rgb(255, 0, 0);
}

.barcelona-4 {
  cursor: pointer;
  padding-left: 36px;
  color: var(--F74780, #f74780);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  padding-top: 2px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  transition: 5s ease;
}
.barcelona-4:hover{
  color: rgb(255, 0, 0);
}

.barcelona-5 {
  cursor: pointer;
  padding-top: 2px;
  padding-left: 36px;
  color: var(--F74780, #f74780);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  transition: 5s ease;
}
.barcelona-5:hover{
  color: rgb(255, 0, 0);
}

.title_3 {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  width: 286px;
  color: var(--83869A, #83869a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}

.title_4 {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  width: 286px;
  color: var(--83869A, #83869a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}

.title_5 {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  width: 286px;
  color: var(--83869A, #83869a);
  font-feature-settings: "clig" off, "liga" off;    
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;    
}
@media screen and (max-width: 820px) {
  .header-one {
    margin-right: auto;
  }
}
@media screen and (max-width: 850px) {
  .header-one {
    margin-right: 100px;
  }
}

/*TUGADI/*

  